<div id="<%= dom_id benefit %>">
  <p>
    <strong>Date start:</strong>
    <%= benefit.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= benefit.date_end %>
  </p>

  <p>
    <strong>City:</strong>
    <%= benefit.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= benefit.state %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= benefit.description %>
  </p>

  <p>
    <strong>Partner:</strong>
    <%= benefit.partner_id %>
  </p>

</div>
