<h1 class="titulo">Beneficios</h1>

<% if current_user.admin? %>
  <br>
  <%= link_to 'Nuevo Beneficio', new_benefit_path, class: "btn", id: "boton"%>
  <br>
  <br>
<% end %>

<%= link_to 'Generar credencial de Beneficios', credential_path, class:"btn", id:"boton-a"%>
<br>
<br>

<h5>Selecciona la información para buscar entre nuestros nuestros Beneficios:</h5>
    <div class="d-grid gap-2 d-md-flex left-content-md-end">
        <%= search_form_for @busqueda do |f| %>
        <%= f.label :area_eq, 'Area'%>
        <%= f.select :area_eq, options_for_select(@areas), include_blank: true %>
        <br><br>
        <%= f.label :región%>
        <%= f.select :state_eq, options_for_select(@regiones), include_blank: true %>
        <br>
        <%= f.submit value='Buscar', class: "btn mt-3", id: "boton"%>
        <%=link_to 'Nueva búsqueda', benefits_path, class: "btn mt-3", id: "boton" %>
        <%=link_to 'Todos los Beneficios', benefits_path, class: "btn mt-3", id: "boton" %>
    <% end %>
    </div>
<br>
<strong>Cantidad de beneficios: </strong> <%= @benefits_total%>
<br>
<br>


<nav class="navbar text-white justify-content-center">
    <%= paginate @benefits %>
</nav>

<div class="table-responsive">
<table class="table table-light table-stripped mr-5" id="sortTable">
  <thead>
    <tr>
      <%# <th scope="col">Logo</th> %>
      <th scope="col">Area</th>
      <th scope="col">Nombre Partner</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Fecha de término</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Región</th>
      <th scope="col">Descripción</th>
      <% if current_user.admin?%>
        <th scope="col">Modificar/Eliminar</th>
      <% end%>  
      <th scope="col">Información Partner</th>
    </tr>
  </thead>
  <tbody>
    <% @benefits.each do |benefit|%>
    <tr>
        <%# <td>= image_tag benefit.partner_logo, :type => :upload, :width => 50, :height => 50, :crop => :fill</td> %>
        <td><%= benefit.area %></td>

        <td><%= benefit.partner_name %></td>
        <td><%= benefit.date_start %></td>
        <td><%= benefit.date_end %></td>
        <td><%= benefit.city %></td>
        <td><%= benefit.state %></td>
        <td><%= benefit.description.truncate(80) %></td>
        <% if current_user.admin?%>
          <td><button><%= link_to 'Mostrar', benefit%></button></td>
        <% end%>
        <td><button><%= link_to 'Mostrar Partner', partner_path(id: benefit.partner_id) %></button></td>
      </tr>
    <% end %>
  <tbody>
</table>
</div>

<nav class="navbar text-white justify-content-center">
    <%= paginate @benefits %>
</nav>