<%= form_with(model: content) do |form| %>
  <% if content.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(content.errors.count, "error") %> no permitieron el registro de este contenido:</h2>

      <ul>
        <% content.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :orbo_area, style: "display: block" %>
    <%= form.select :area, @areas, :prompt => "Selecciones una opción:"%>
  </div>

  <div>
    <%= form.label :logo_url, style: "display: block" %>
    <%= form.text_area :logo_url %>
  </div>

  <div>
    <%= form.label :título, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :descripción, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :link_de_descarga, style: "display: block" %>
    <%= form.text_area :download %>
  </div>

  <div>
    <%= form.label :ciudad, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :región, style: "display: block" %>
    <%= form.select :state, @regiones, :prompt => 'Seleccione una Región' %>
  </div>
  <br>
  <br>
  <div>
    <%= form.submit "Registrar contenido descargable", class:"btn", id:"boton" %>
  </div>
<% end %>
