<p style="color: green"><%= notice %></p>

<h1>Contents</h1>

<div id="contents">
  <% @contents.each do |content| %>
    <%= render content %>
    <p>
      <%= link_to "Show this content", content %>
    </p>
  <% end %>
<br>
<strong>Cantidad de Contenidos descargables: </strong> <%= @contents_total%>
<br>
<br>

<nav class="navbar text-white justify-content-center">
    <%= paginate @contents %>
</nav>
<div class="table-responsive">
<table class="table table-light table-stripped mr-5" id="sortTable">
  <thead>
    <tr>
      <% if current_user.admin?%>
        <th scope="col">Id</th>
      <% end %>
      <th scope="col">Portada</th>
      <th scope="col">Título</th>
      <th scope="col">Area</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Región</th>
      <th scope="col">Descripción</th>
      <th scope="col">Más detalles</th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |content|%>
    <tr>
        <% if current_user.admin? %>
          <td><%= content.id %></td>
        <% end %>
        <td><% if content.logo.attached?%>
            <%= image_tag content.logo, :width => 50, :height => 50, :crop => :fill%></td>
          <% else %>
            <%= image_tag content.logo_url, :type => :upload, :width => 50, :height => 50, :crop => :fill%> 
          <% end %></td>
        <td><%= content.title %></td>
        <td><%= content.area %></td>
        <td><%= content.city %></td>
        <td><%= content.state %></td>
        <td><%= content.description.truncate(80) %></td>
        <td><%= link_to 'Mostrar', content%></td>   
      </tr>
    <% end %>
  <tbody>
</table>
</div>
<nav class="navbar text-white justify-content-center">
    <%= paginate @contents %>
</nav>
