<div class="container mx-3 my-3">
<h2 class="titulo">Registrarse</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
        <%= f.label :Nombre_completo %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :nombre_usuario %><br />
        <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name" %>
      </div>

      <div class="field">
        <%= f.label :mail %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :teléfono %><br />
        <%= f.text_field :phone, autocomplete: "phone" %>
      </div>
      
      <div class="field">
        <%= f.label :ciudad %><br />
        <%= f.text_field :city, autocomplete: "city" %>

      </div>
        <div class="field">
        <%= f.label :región %><br />
        <%= f.select :state, ['Arica y Parinacota', 'Tarapacá', 'Antofagasta', 'Atacama', 'Coquimbo', 'Valparaíso', 'Metropolitana', "O'Higgins", 'Maule', 'Ñuble', 'Biobío', 'Araucanía', 'Los Ríos','Aysén', 'Magallanes'], :prompt => 'Seleccione una Región' %>
      </div>
      
      <div class="field">
        <%= f.label :fecha_de_nacimiento %><br />
        <%= f.date_field :dob, autocomplete: "dob" %>
      </div>

      <div class="field">
        <%= f.label :Género %><br />
        <%= f.select :gender, ['Masculino', 'Femenino', 'No binario', 'Prefiero no responder'], :prompt => 'Seleccione una opción' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "boton" %>
      </div>
    <% end %>
    
  </div> 
  
<%= render "devise/shared/links" %>
