<div class="container mx-3 my-3">
<h2 class="titulo">Registrarse</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

<form class="ml-5 align-items-center" >
  <div class="container-fluid" id="form_prospect">    
      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :Nombre_completo, class:"col-form-label" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control"  %>
      </div>

      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :nombre_usuario, class:"col-form-label"%>
        <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name", class:"form-control"  %>
      </div>

      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :mail, class:"col-form-label"  %>
        <%= f.email_field :email, autocomplete: "email", class:"form-control"  %>
      </div>

      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :teléfono , class:"col-form-label" %>
        <%= f.text_field :phone, autocomplete: "phone", class:"form-control"  %>
      </div>
      
      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :ciudad, class:"col-form-label"  %>
        <%= f.text_field :city, autocomplete: "city", class:"form-control"  %>

      </div>
        <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :región, class:"col-form-label"  %>
        <%= f.select :state, ['Arica y Parinacota', 'Tarapacá', 'Antofagasta', 'Atacama', 'Coquimbo', 'Valparaíso', 'Metropolitana', "O'Higgins", 'Maule', 'Ñuble', 'Biobío', 'Araucanía', 'Los Ríos','Aysén', 'Magallanes'], :prompt => 'Seleccione una Región', class:"form-control"  %>
      </div>
      
      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :fecha_de_nacimiento, class:"col-form-label"  %>
        <%= f.date_field :dob, autocomplete: "dob", class:"form-control"  %>
      </div>

      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :Género, class:"col-form-label"  %>
        <%= f.select :gender, ['Masculino', 'Femenino', 'No binario', 'Prefiero no responder'], :prompt => 'Seleccione una opción', class:"form-control"  %>
      </div>

      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :password, class:"col-form-label"  %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control"  %>
      </div>

      <div class="field col-9 col-lg-4 mb-3 ms-3 mt-3">
        <%= f.label :confirmación_de_password, class:"col-form-label"  %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"  %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Registrarse", class:"btn", id:"boton" %>
      </div>
    <% end %>
    
    </div>
  </div>
</form> 
  
<%= render "devise/shared/links" %>
