<%= form_with(model: partner) do |form| %>
  <% if partner.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(partner.errors.count, "error") %> prohibited this partner from being saved:</h2>

      <ul>
        <% partner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Nombre_partner, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :orbo_area, style: "display: block" %>
    <%= form.select :area, @areas, :prompt => "Selecciones una opción:"%>
  </div>

  <div>
    <%= form.label :logo_url, style: "display: block" %>
    <%= form.text_area :logo_url %>
  </div>

  <div>
    <%= form.label :teléfono, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :web, style: "display: block" %>
    <%= form.text_field :web %>
  </div>

  <div>
    <%= form.label :fb, style: "display: block" %>
    <%= form.text_field :fb %>
  </div>

  <div>
    <%= form.label :ig, style: "display: block" %>
    <%= form.text_field :ig %>
  </div>

  <div>
    <%= form.label :descripción, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :dirección, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :ciudad, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :Región, style: "display: block" %>
    <%= form.select :state, @regiones, :prompt => 'Seleccione una Región' %>
  </div>

  <div>
    <% if current_user.admin? %>
      <br>
      <h3>Información de uso interno:</h3>
      <div>
        <%= form.label :nombre_contacto, style: "display: block" %>
        <%= form.text_field :liason_name %>
      </div>

      <div>
        <%= form.label :teléfono_contacto, style: "display: block" %>
        <%= form.text_field :liason_phone %>
      </div>

      <div>
        <%= form.label :mail_contacto, style: "display: block" %>
        <%= form.text_field :liason_mail %>
      </div>

      <% end %>
    </div>
  <br>
  <div>
    <%= form.submit "Crear o actualizar este Partner", class:"btn", id:"boton" %>
  </div>
<% end %>
