<div id="<%= dom_id partner %>">
  <div class="d-flex">
    
    <div class="container col-3"  >
      <%= image_tag partner.logo_url, :type => :upload%>
    </div>

    <div class ="container col-5">
      <br>
      <% if current_user.admin? %>
        <p>
          <strong>Partner Id:</strong>
          <%= partner.id %>
        </p>
      <% end %>
       
      <p>
        <strong>Nombre Partner:</strong>
        <%= partner.name %>
      </p>
      
      <p>
        <strong>Orbo Área:</strong>
        <%= partner.area %>
      </p>
      
      <p>
        <strong>Whatsapp:</strong>
        <%= link_to "+#{partner.phone}", "https://wa.me/#{partner.phone}", :target => :_blank %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= mail_to partner.email, partner.email%>
      </p>

      
      <p>
        <strong>Página web:</strong>
        <%= link_to partner.web, partner.web, :target => :_blank %>
      </p>

      <p>
        <strong>Facebook:</strong>
        <%= link_to partner.fb, partner.fb, :target => :_blank %>
      </p>

      <p>
        <strong>Instagram:</strong>
        <%= link_to partner.ig, partner.ig, :target => :_blank %>
      </p>

      <p>
        <strong>Descripción:</strong>
        <%= partner.description %>
      </p>

      <p>
        <strong>Dirección:</strong>
        <%= partner.address %>
      </p>

      <p>
        <strong>Ciudad:</strong>
        <%= partner.city %>
      </p>

      <p>
        <strong>Región:</strong>
        <%= partner.state %>
      </p>

    </div>
    
    <div class="col-4">
      <%= link_to "Listado de Partners", partners_path, class:"btn", id: "boton" %>
    </div>
  </div>
  

  <% if current_user.admin? %>
    <br>
    <h3>Información de uso interno:</h3>
    <p>
      <strong>Nombre de contacto:</strong>
      <%= partner.liason_name %>
    </p>

    <p>
      <strong>Teléfono de contacto:</strong>
      <%= link_to "+#{partner.liason_phone}", "https://wa.me/#{partner.liason_phone}", :target => :_blank %>
    </p>

    <p>
      <strong>Mail de contacto:</strong>
      <%= mail_to partner.liason_mail, partner.liason_mail%>
    </p>

  <% end %>


</div> 
