<div id="<%= dom_id partner %>">
  <p>
    <strong>Name:</strong>
    <%= partner.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= partner.email %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= partner.area %>
  </p>

  <p>
    <strong>Liason name:</strong>
    <%= partner.liason_name %>
  </p>

  <p>
    <strong>Liason phone:</strong>
    <%= partner.liason_phone %>
  </p>

  <p>
    <strong>Liason mail:</strong>
    <%= partner.liason_mail %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= partner.logo_url %>
  </p>

  <p>
    <strong>Web:</strong>
    <%= partner.web %>
  </p>

  <p>
    <strong>Fb:</strong>
    <%= partner.fb %>
  </p>

  <p>
    <strong>Ig:</strong>
    <%= partner.ig %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= partner.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= partner.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= partner.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= partner.state %>
  </p>

</div>
