<p style="color: green"><%= notice %></p>
<%= link_to "Listado de Partners", partners_path, class:"btn", id: "boton" %>
<br>
<br>
<h3 class="titulo">Información del Partner</h3>
<%= render @partner %>

<div>
  <% if current_user.admin?%>
    <%= link_to "Editar Partner", edit_partner_path(@partner) %>
    <br>
    <br>
    <%= button_to "Eliminar Partner", @partner, method: :delete, class: "btn", id:"boton" %>
  <% end%>
  <br>

</div>
