<h3 class="titulo"><%= @partner.name %></h3>
<%= render @partner %>

<div>
  <% if current_user.admin?%>
    <%= link_to "Editar Partner", edit_partner_path(@partner) %>
    <br>
    <br>
    <%= button_to "Eliminar Partner", @partner, method: :delete, class: "btn", id:"boton" %>
  <% end%>    
  <br>
  <br>
</div>

<h3 class="titulo"> Evaluaciones de otros usuarios:</h3>
<strong> Evaluaciones: </strong><%= @rates %>
<br>
<strong> Nota promedio: </strong><%= @average %>
<br>
<% @ratings.each do |rating|%>
    <br>
    <strong>Usuario:</strong>
    <%= rating.user_name%>
    <br>
    <strong>Fecha del servicio:</strong>
    <%= rating.date_service.strftime("%d-%m-%Y")%>
    <br>
    <strong>Nota:</strong>
    <%= rating.rate%>
    <br>
    <strong>Comentarios:</strong>
    <%= rating.description%>
    <br>
<% end%>