
<div class="d-flex justify-content-center mt-5 pt-5">
    <%= image_tag 'logo.png', alt: 'Logo Orbo Chile', :widht => 120, :height => 120, :crop => :fill %>    
</div>
<br>
<div class="d-flex justify-content-center">
    <h1>¡Enamórate de Chile con Orbo!</h1>
</div>
<br>
<div class="container d-flex justify-content-center">
    <h4 class="titulo">¡Revisa el Orbo Mapa para encontrar al Partner que buscas!</h4>
</div>

<div class="container d-flex justify-content-center mt-4 mb-2">
    <%=link_to '¿Qué hay cerca mío?', maps_show_path, class:"btn", id:"boton"%>
</div>

<br>
<div class="d-flex justify-content-center">
    <div class="card mx-3" style="width: 18rem;">
        <%= image_tag 'beneficios.png', alt: 'Beneficios de nuestros Partners'%>
        <div class="card-body">
            <h5 class="card-title titulo center">Orbo Beneficios</h5>
            <p class="card-text titulo">Aprovecha todos los beneficios de nuestros Partners</p>
            <%=link_to 'Beneficios', benefits_path, class:"btn", id:"boton-amarillo"%>
        </div>
    </div>

    <div class="card mx-3" style="width: 18rem;">
        <%= image_tag 'partners.png', alt: 'Nuestros Partners'%>
        <div class="card-body">
            <h5 class="card-title titulo center">Orbo Partners</h5>
            <p class="card-text titulo">Sorpréndete con nuestro catálogo de Partners</p>
            <%=link_to 'Orbo Partners', partners_path, class:"btn", id:"boton-amarillo"%>
        </div>
    </div>

    <div class="card mx-3" style="width: 18rem;">
        <%= image_tag 'descargas.png', alt: 'Descarga nuestro material'%>
        <div class="card-body">
            <h5 class="card-title titulo center">Orbo Descargas</h5>
            <p class="card-text titulo">Aprende con nuestro contenido colaborativo</p>
            <%=link_to 'Orbo Descargas', contents_path, class:"btn", id:"boton-amarillo"%>
        </div>
    </div>

</div>
<br>


