<div id="<%= dom_id rating %>">
  <p>
    <strong>Date service:</strong>
    <%= rating.date_service %>
  </p>

  <p>
    <strong>Type service:</strong>
    <%= rating.type_service %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rating.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

  <p>
    <strong>Partner:</strong>
    <%= rating.partner_id %>
  </p>

</div>
