<div id="<%= dom_id prospect %>">
  <p>
    <strong>Name:</strong>
    <%= prospect.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= prospect.email %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= prospect.area %>
  </p>

  <p>
    <strong>Liason name:</strong>
    <%= prospect.liason_name %>
  </p>

  <p>
    <strong>Liason phone:</strong>
    <%= prospect.liason_phone %>
  </p>

  <p>
    <strong>Liason mail:</strong>
    <%= prospect.liason_mail %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= prospect.logo_url %>
  </p>

  <p>
    <strong>Web:</strong>
    <%= prospect.web %>
  </p>

  <p>
    <strong>Fb:</strong>
    <%= prospect.fb %>
  </p>

  <p>
    <strong>Ig:</strong>
    <%= prospect.ig %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prospect.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= prospect.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= prospect.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= prospect.state %>
  </p>

</div>
