<div id="<%= dom_id prospect %>">
  <p>
    <strong>Nombre Prospecto:</strong>
    <%= prospect.name %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= prospect.email %>
  </p>

  <p>
    <strong>Área:</strong>
    <%= prospect.area %>
  </p>

  <p>
    <strong>Nombre Responsable:</strong>
    <%= prospect.liason_name %>
  </p>

  <p>
    <strong>Teléfono Responsable:</strong>
    <%= prospect.liason_phone %>
  </p>

  <p>
    <strong>Mail Responsable:</strong>
    <%= prospect.liason_mail %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= prospect.logo_url %>
  </p>

  <p>
    <strong>Página Web:</strong>
    <%= prospect.web %>
  </p>

  <p>
    <strong>Facebook:</strong>
    <%= prospect.fb %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= prospect.ig %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= prospect.description %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= prospect.address %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= prospect.city %>
  </p>

  <p>
    <strong>Región:</strong>
    <%= prospect.state %>
  </p>

  <p>
    <strong>Estatus prospecto:</strong>
    <%= prospect.status%>
  </p>

  <p>
    <strong>Comentarios internos:</strong>
    <%= prospect.comments %>
  </p>

</div>
