<p style="color: green"><%= notice %></p>

<%= render @prospect %>

<% if current_user.admin?%>
<div>
  <%= link_to "Actualizar prospecto", edit_prospect_path(@prospect) %> |
  <%= link_to "Listado de prospectos", prospects_path %>
  <br>
  <br>
  <%= button_to "Eliminar prospecto", @prospect, method: :delete, class:"btn", id:"boton" %>
</div>
<% end%>
